:root {
  --itemBackground: rgb(40, 28, 45, 0.35);
}

/* setting basic margins */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to right, #2a5470, #4c4177);
}
/* start of basic design  */
.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr 0.4fr 1fr 1fr;
  grid-template-areas:
    'side-bar date-time weather stars'
    'side-bar date-time weather stars'
    'side-bar date-time weather stars'
    'side-bar upcoming-task upcoming-task upcoming-task'
    'side-bar upcoming-task upcoming-task upcoming-task'
    'side-bar upcoming-task upcoming-task upcoming-task';
  grid-gap: 0.5rem;
}

/* side-bar Styles */

.side-bar {
  grid-area: side-bar;
  background-image: linear-gradient(#4c4177, rgb(42, 74, 112, 0.75));
  box-shadow: 5px 5px 12px rgb(0, 0, 0, 0.15);
}

.user-info {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.user-info h2 {
  margin-left: 66px;
}

.user-info img {
  width: 54px;
  height: auto;
  margin-left: auto;
  margin-right: 20px;
}

/* Utility styles */
#date-time {
  grid-area: date-time;
}

#weather {
  grid-area: weather;
}
#stars {
  grid-area: stars;
}

.utilitys {
  margin: 25px 0.5vw;
  background-color: var(--itemBackground);
}

#upcoming-task {
  grid-area: upcoming-task;
  background-color: var(--itemBackground);
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 25px;
}

.burger {
  position: absolute;
  left: 0.7vw;
  top: 0.7vh;
  display: none;
}

.lines {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

/* for responsive design */
@media only screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.4fr 1fr 1fr;
    grid-template-areas:
      'date-time weather stars'
      'date-time weather  stars'
      'date-time weather stars'
      'upcoming-task upcoming-task upcoming-task'
      'upcoming-task upcoming-task upcoming-task'
      'upcoming-task upcoming-task upcoming-task';
    grid-gap: 0.5rem;
  }

  .utilitys {
    margin-top: 50px;
  }

  .burger {
    display: block;
    z-index: 2;
  }

  .burger:hover {
    cursor: pointer;
  }

  .side-bar {
    position: absolute;
    height: 100vh;
    width: 270px;
    transform: translateX(-100%);
  }

  .side-bar-active {
    transition: transform 0.5s ease-in;
    transform: translate(0%);
  }

  .side-bar-deactive {
    transition: transform 0.5s ease-out;
  }
}
/* this will be for small (mobile screens) */
@media only screen and (max-width: 641px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas:
      'stars stars'
      'date-time weather'
      'upcoming-task upcoming-task';
    grid-gap: 0;
  }

  .utilitys {
    margin: 0 0.3rem;
    margin-bottom: 15px;
  }

  #weather,
  #date-time {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  #stars {
    margin-left: 75px;
    margin-right: 75px;
  }
}
