/* nav bar styles */
#logo {
  width: 150px;
}

header {
  margin-top: 2vh;
  margin-left: 120px;
  margin-right: 95px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 400;
  margin-left: 25px;
  margin-right: 25px;
}

.navbar-links li a:last-child {
  padding-right: 0;
}

.navbar-links li:hover {
  background-image: linear-gradient(to right, #3b77f8, #3b48f8);
  border-radius: 25px;
}

/* nav bar icon */

.burger {
  display: none;
}

.lines {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

/* background circles */

.cirlce-1 {
  position: absolute;
  width: 12vw;
  height: 12vw;
  background-color: rgba(76, 65, 119, 0.4);
  border-radius: 50%;
  top: 18vh;
  left: 1vw;
  z-index: -1;
}

.cirlce-2 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  background-color: rgba(42, 84, 112, 0.7);
  border-radius: 50%;
  bottom: 12vh;
  left: 35vw;
  z-index: -1;
}

.cirlce-3 {
  position: absolute;
  width: 12vw;
  height: 12vw;
  background-color: rgba(76, 65, 119, 0.4);
  border-radius: 50%;
  top: 25vh;
  right: 40vw;
  z-index: -1;
}

.cirlce-4 {
  position: absolute;
  width: 18vw;
  height: 18vw;
  background-color: rgba(42, 84, 112, 0.4);
  border-radius: 50%;
  bottom: 2vh;
  right: 2vw;
  z-index: -1;
}

/* media query for toggle button */

@media only screen and (max-width: 813px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0vh;
    width: 40vh;
    background-color: rgb(41, 41, 41, 0.98);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transform: translateX(100%);
  }

  .nav-active {
    transition: transform 0.5s ease-in;
    transform: translateX(0%);
  }

  .burger {
    z-index: 1;
    display: block;
    cursor: pointer;
  }

  header {
    margin: 5vw;
  }
}

/* media querys for circle background */
@media only screen and (max-width: 1250px) {
  .cirlce-1 {
    width: 20vw;
    height: 20vw;
  }

  .cirlce-2 {
    width: 18vw;
    height: 18vw;
    bottom: 18vh;
    left: 15vw;
    background-color: rgba(42, 84, 112, 0.9);
  }

  .cirlce-3 {
    width: 20vw;
    height: 20vw;
    top: 20vh;
    right: 20vw;
  }

  .cirlce-4 {
    width: 28vw;
    height: 28vw;
  }
}

@media only screen and (max-width: 750px) {
  .cirlce-1 {
    width: 30vw;
    height: 30vw;
  }

  .cirlce-2 {
    width: 18vw;
    height: 18vw;
    bottom: 18vh;
    left: 15vw;
    background-color: rgba(42, 84, 112, 0.9);
  }

  .cirlce-3 {
    width: 20vw;
    height: 20vw;
    top: 35vh;
    right: 15vw;
    background-color: rgba(76, 65, 119, 0.8);
  }

  .cirlce-4 {
    width: 40vw;
    height: 40vw;
  }
}

@media only screen and (max-width: 1725px) {
  #logo {
    width: 120px;
    height: auto;
  }
}
