<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/dashboard.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <!-- grid start -->
    <div class="grid">
      <div class="burger">
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
      </div>
      <!-- side bar structure -->
      <div class="side-bar">
        <div class="user-info">
          <h2>Username</h2>
          <img src="../static/img/temp_profile.png" alt="profile picture" />
        </div>
        <div class="personal"></div>
        <div class="education"></div>
        <div class="projects"></div>
        <div class="menu"></div>
      </div>
      <!-- start of utilitys -->
      <div id="date-time" class="utilitys">date-time</div>
      <div id="weather" class="utilitys">weather</div>
      <div id="stars" class="utilitys">Stars</div>

      <div id="upcoming-task">upcoming-task</div>
    </div>
    <script src="../static/js/side-bar.js"></script>
  </body>
</html>
